/* Footer */
.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 40px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 50px;
}

.footer-links h4,
.footer-social h4 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding-left: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-social .icons span {
  margin-right: 10px;
  font-size: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}
